<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ESFiddle</a>
        </div>
        <button type="button" 
                (click)="runQueryCommand.run()" 
                [ngClass]="{'disabled' : runQueryCommandState > 0}"
                class="run-command btn btn-default navbar-btn">
            <span>Run</span>
            <span *ngIf="runQueryCommandState == 2">
                ...
            </span>
        </button>

        <button type="button" 
                (click)="saveCommand.run()" 
                [ngClass]="{'disabled' : saveCommandState > 0}"
                class="save-command btn btn-default navbar-btn">
            <span>Save</span>
            <span *ngIf="saveCommandState == 2">
                ...
            </span>  
        </button>
    </div>
</nav>
<section id="editors" class="container">
    <div class="row">
        <div class="col-xs-6">
            <label>Mapping</label>
            <div class="mapping-editor" [(text)]="state.mapping" json-editor style="border: 2px #e7e7e7 solid; display: block; width: 100%; min-height: 200px; overflow: auto;"></div>
        </div>
        <div class="col-xs-6">
            <label>Documents</label>
            <div class="documents-editor" [(text)]="state.documents" json-editor style="border: 2px #e7e7e7 solid; display: block; width: 100%; min-height: 200px; overflow: auto;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label>Query</label>
            <div class="query-editor" [(text)]="state.query" json-editor style="border: 2px #e7e7e7 solid; display: block; width: 100%; min-height: 200px; overflow: auto;"></div>
        </div>
        <div class="col-xs-6">
            <label>Result</label>
            <div class="result-viewer" [text]="queryResult" json-editor [readOnly]="true" style="border: 2px #e7e7e7 solid; display: block; width: 100%; min-height: 200px; overflow: auto;"></div>
            <div class="alert alert-danger" *ngIf="!!queryError">{{queryError}}</div>
        </div>
    </div>
</section>