@using Esf.Website.Extensions
@{
    Layout = null;
}

<html>
<head>
    <base href="/" >
    <title>Elasticsearch Fiddler</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (Html.IsDebug())
    {
        <link rel="stylesheet" href="/content/styles.css">
    }
    else
    {
        <link rel="stylesheet" href="/release/css/styles.css">
    }
</head>
<body>
    <esf-app>Loading...</esf-app>

    @if (Html.IsDebug())
    {
        <script src="/system.js"></script>
        <script>
            System
                .import('/debugroot/systemjs.config.js')
                .then(function (config) {
                    System.config(config);
                    System.import('app');
                })
                .catch(function(err) {
                    console.error(err);
                });
        </script>
    }
    else
    {
        <script src="/release/js/app.bundle.js"></script>
    }
</body>
</html>
