@using Esf.Website.Extensions
@{
    Layout = null;
}

<html>
<head>
    <base href="/" >
    <title>Elasticsearch Fiddler</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../node_modules/@("@")angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @if (Html.IsDebug())
    {
        <link rel="stylesheet" href="/wwwroot/content/styles.css">
    }
    else
    {
        <link rel="stylesheet" href="/wwwroot/release/css/styles.css">
    }
</head>
<body fxLayout="column">
    <esf-app fxLayout="column">Loading...</esf-app>

    @if (Html.IsDebug())
    {
        <script src="/node_modules/systemjs/dist/system.src.js"></script>
        <script src="/systemjs.config.js"></script>
        <script>
            System
                .import('app')
                .catch(function(err) {
                    console.error(err);
                });
        </script>
	}
	else
	{
        <script src="/wwwroot/release/js/app.bundle.js"></script>
    }
</body>
</html>
