<div fxLayout="row" fxFlex (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)" (mouseleave)="onMouseLeave($event)" ondragstart="return false;" ondrop="return false;">
    <div fxLayout="column" [fxFlex]="view1Width">
        <ng-content select="view1" fxFlex>
        </ng-content>
    </div>
    <div fxFlex="3px" class="vertical-split-view-separator" (mousedown)="onMouseDown($event)">
    </div>
    <div fxLayout="column" [fxFlex]="view2Width">
        <ng-content select="view2" fxFlex>
        </ng-content>
    </div>
</div>