@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ES Fiddle</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body ng-controller="esController">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ESFiddle</a>
                </div>
                <button type="button" ng-click="runQuery()" class="btn btn-default navbar-btn">Run</button>
            </div>
        </nav>
        <section id="editors" class="container">
            <div class="row">
                <div class="col-xs-6">
                    <label>Mapping</label>
                    <textarea ng-model="mapping" style="min-width: 100%" rows="10"></textarea>
                </div>
                <div class="col-xs-6">
                    <label>Documents</label>
                    <textarea ng-model="documents" style="min-width: 100%" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>Query</label>
                    <textarea ng-model="query" style="min-width: 100%" rows="10"></textarea>
                </div>
                <div class="col-xs-6">
                    <label>Result</label>
                    <pre>{{result}}</pre>
                </div>
            </div>
        </section>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" language="javascript">
        angular.module('app', [])
            .controller('esController', function ($scope, $http) {
                $scope.mapping = '{"test": {"properties": {"message": {"type": "string", "store": true}}}}';
                $scope.documents = '{"message": "The quick brown fox jumps over the lazy dog"}';
                $scope.query = '{"query": {"match": {"message": "fox"}}}';

                $scope.runQuery = function () {
                        $scope.result = 'loading...';

                        var data = {
                            parameters: {
                                mapping: $scope.mapping,
                                documents: $scope.documents,
                                query: $scope.query
                            }
                        };

                        console.log(data);

                        $http.post('/esf/home/runquery', angular.toJson(data))
                        .then(function (response) {
                            console.log(response);
                            $scope.result = JSON.stringify(JSON.parse(response.data.queryResult), null, "   ");
                        }, function(failureResponse) {
                            alert(JSON.stringify(failureResponse));
                            $scope.result = undefined;
                        });
                    };
            });
    </script>
</html>